
h1{
    background-color:darkslategrey;
    color: black;
    margin:0px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;   
    display: inline-block;
    padding-inline: 100px;
    border-radius: 30px;
   
    
             
}    
body{
    background: linear-gradient(to right, #2C3E50, #4CA1AF);
    text-align: center;

} 
h2{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: darkslategray;
    border-radius: 10px;
    display: inline-block;
    margin: 20px;
    padding: 10px;
    transition:all 0.3s ease-in-out;
    
}  
h2:hover{
    transform:scale(1.1);
    background-color: teal;
    
}
a{
    text-decoration: none;
    color:black;
}

.imagen1{
    transition:all 0.3s ease-in-out;
}
.imagen1:hover{
    transform: scale(1.1);
}
.imagen2{
    padding-inline: 30px;
    transition: all 0.3s ease-in-out;
    

}
.imagen2:hover{
    transform: scale(1.1);

}
.imagen3{
    transition: all 0.3s ease-in-out;
    position: relative;
    
}
.imagen3:hover{
    transform: scale(1.1);
    
}
h4{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
li{
    background-color: darkslategrey;
    display: inline-block;
    padding-inline: 20px;
}











    